@model PrimusFlex.Web.ViewModels.KitchenEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Kitchen", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="form-horizontal">
        <h4>Kitchen: @Model.SiteName, Plot - @Model.PlotNumber, @Model.Company</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control width-2x", id = "datepicker" } })
                <br />
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiteId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SiteId, Model.SiteNames, "Select a site name", new {  @class = "form-control"  })
                <button class="btn btn-default" id="create-site"><i class="fa fa-plus"> New site</i></button>
                <br />
                @Html.ValidationMessageFor(model => model.SiteId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlotNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlotNumber, new { htmlAttributes = new { @class = "form-control width-2x", id = "datepicker" } })
                <br />
                @Html.ValidationMessageFor(model => model.PlotNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Company, new { @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Shape, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Shape, new { @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(model => model.Shape, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Note, new { @class = "form-control" })
                <br />
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Content("~/Kitchen")"><i class="fa fa-arrow-left"></i> Back to list</a>
</div>

<!--Modal dialog for new site-->
@Html.Partial("_CreateSiteViewPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $("#datepicker").val($("#datepicker").val().substring(0, 10));

            $("#datepicker").datepicker({
                dateFormat: "dd/mm/yy"
            });
        });
        $("#create-site").button().on("click", function (e) {
            e.preventDefault();
            dialog.dialog("open");
        });

        dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            buttons: {
                Cancel: function () {
                    dialog.dialog("close");
                }
            }
        });

        $("#create-site-form").submit(function (e) {
            e.preventDefault();

            var $form = $(this);
            var url = $form.attr("action");
            var siteName = $("#site-name").val();
            var siteAddress = $("#site-address").val();
            var sitePostCode = $("#site-post-code").val();

            $.post(url,
                { Name: siteName, Address: siteAddress, PostCode: sitePostCode },
                function (response) {
                    if (response.status == "OK") {
                        alert(response.message);
                        location.reload();  // reload page
                    } else if (response.status == "Error") {
                        alert(response.mesage);
                    }
                }
            );
        });
    </script>
}
