@using PrimusFlex.Web.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Constants.APP_NAME, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="@Html.IsSelected(actions : "Index", controllers : "Kitchen", cssClass: "active")">
                            @Html.ActionLink("Kitchens", "Index", "Kitchen")
                        </li>
                        <li class="@Html.IsSelected(actions : "Index,Create,Edit", controllers : "Daywork", cssClass: "active")">
                            @Html.ActionLink("Dayworks", "Index", "Daywork")
                        </li>
                        <li class="@Html.IsSelected(actions : "Index", controllers : "MorDItem", cssClass: "active")">
                            @Html.ActionLink("Missings & Damages", "Index", "MorDItem")
                        </li>
                        <li class="@Html.IsSelected(actions : "Index", controllers : "Item", cssClass: "active")">
                            @Html.ActionLink("Items", "Index", "Item")
                        </li>
                        <li class="@Html.IsSelected(actions : "Index", controllers : "Site", cssClass: "active")">
                            @Html.ActionLink("Sites", "Index", "Site")
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            }
            else
            {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
